   ********************* INTRODUCTION & GENERAL INFORMATION ******************

In [2]:
# Docstrings ▸ Displaying the docstring of a function : 
# print (function_name.__doc__)

print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [3]:
print(map.__doc__)

map(func, *iterables) --> map object

Make an iterator that computes the function using arguments from
each of the iterables.  Stops when the shortest iterable is exhausted.

In [4]:
color = "blue"
price = 100
season = "winter"
print(color, price, season)
print(color, price, season, sep=", ")

blue 100 winter
blue, 100, winter

In [5]:
str_number = "1923"
str_sign = "%(#&*?-"

print(str_number)
print(str_sign)

print(type(str_number), type(str_sign))

1923
%(#&*?-
<class 'str'> <class 'str'>

In [6]:
# str() converts to string type, int() converts to signed integer type, float() converts to floating point type

pi = 3.14
converted_pi = str(pi)

print(converted_pi)
print(type(converted_pi))

3.14
<class 'str'>

In [7]:
no = 3
converted_no = float(no)

print(converted_no)
print(type(converted_no))

3.0
<class 'float'>

In [8]:
x = 39
v = "11"
y = "2.5"
z = "I am at_"

print(x-int(v))
print(x-float(y))
print(z+str(x))

28
36.5
I am at_39

   ****** ▶ Arithmetic Operations ▶ Operationswith print() Function ▶ Escape Sequences  *************

In [36]:
print(int("5" + "1"))
print(str("5" + "1"))
print("5" + "1")

51
51
51

In [9]:
print(11 - 7)
print(4 + 11.0)
print("11 - 7")
print("4" + 4)

4
15.0
11 - 7

TypeError: can only concatenate str (not "int") to str

In [10]:
num1, num2 = 81, 55
num3 = num1 - num2
print(num3)

26

In [11]:
# Let's calculate the area of a circle:

pi = 3.14
r = 5
area = pi * r ** 2

print(area)

78.5

In [4]:
# What is the output?

print(11 % 2)   # remainder of this division is 1, it means 11 is an odd number  

print(27 % 5)

print(19 // 2)

print(4 * 5 / 2)

print(2 ** 3)  # 2 to the power of 3
print(3 ** 2)  # square of 3

a = 2
b = 8
print((a * b) ** 0.5)  # square root

1
2
9
10.0
8
9
4.0

In [15]:
# x += 3  >>>  x = x + 3      x *= 3   >>>  x = x * 3    x **= 3 >>>>> x = x ** 3   first 'operator' after '='  herzaman

# priorities :    ()   >>  **  >>  unary -  >>  *, /    >>   +, -

a = (1 + 3 ) ** (2 ** (1 *2 / 2) / 2)
print(a)

4.0

In [24]:
#  print(value,.., sep=" ", end="\n")  sep & end aksi belirtilmedikçe default değerleri atar, ister yaz ister yazma

text1 = "I bought"
text2 = "kg. of apple this morning"
amount = 6
text3 = text1 + " " + str(amount) + " " + text2

print(text1, amount, text2)
print(text1, amount, text2, sep="&&&&")


print(text3)

print(text3, end="\n")
print("and came to home")

print(text3, end=" ")
print("and came to home", "\n")
                                  # using string expression "\n", we produce extra line, so that we had empty line.
print(text3, "\n")                # görünmeyen default değeri üstüne "\n" extra line üretiyor
print("and came to home")

I bought 6 kg. of apple this morning
I bought&&&&6&&&&kg. of apple this morning
I bought 6 kg. of apple this morning
I bought 6 kg. of apple this morning
and came to home
I bought 6 kg. of apple this morning and came to home

I bought 6 kg. of apple this morning

and came to home

In [34]:
#   "\n"  : means new line,  "\t" : means tab mark,    "\b" : means backspace. It moves the cursor one charactr to the left

#    "\"  önündeki "özel karakter" i görmezden gelir. 

print("C:\\north pole\nosie_penguins.txt")
print("--------")
print("first", "second", "third", "\n", sep="\t")

print("We are", "\boosting", "our", "\brotherhood", "\n")

print('it\'is essential to learn Python\'s libraries in IT World')

C:\north pole
osie_penguins.txt
--------
first	second	third

We are oosting our rotherhood

it'is essential to learn Python's libraries in IT World

In [35]:
text = "Clarusway, Clarusway, Clarusway, \n\tClarusway, Clarusway, Clarusway, \n\t\tClarusway, Clarusway, Clarusway"

print(text)

Clarusway, Clarusway, Clarusway,
	Clarusway, Clarusway, Clarusway,
		Clarusway, Clarusway, Clarusway

*********** Boolean Operations ************

In [8]:
# order of prioritiy       not > and > or

print(1 and 0)
print(not 0,"\n")

bool(0)

0
True

False

In [9]:
# Next values are considered falsy; None > 0, 0.0, 0j > '', [], {} >  Any remaining value: True

print(2 and 3)
print(1 and 0)
print(2 and "hello world")
print([] and "be happy")
print(None and (), "\n")
print(2 or 3)
print(None or 1, "\n")
print(2 or "hello world")
print([] or "be happy")
print(None or (), "\n")
print({} or 0)
print({0} or False)
bool(-1)

3
0
hello world
[]
None

2
1

2
be happy
()

0
{0}

True