# Creating a List

In [1]:
# [] & list()   >>> to create list

list_1 = ["h", "a", "p", "p", "y"]

word = "happy"
list_2 = list(word)

print(list_1)
print(list_2)

['h', 'a', 'p', 'p', 'y']
['h', 'a', 'p', 'p', 'y']

In [4]:
ailem = ["Hakan", "Hilal", "Zülal", "Umut"] 
print(ailem)

['Hakan', 'Hilal', 'Zülal', 'Umut']

In [16]:
kızım = "zulal"
print(kızım)

kızım = list("zulal")
print(kızım)

kızım = ["zulal"]
print(kızım)

zulal
['z', 'u', 'l', 'a', 'l']
['zulal']

In [28]:
muzaffer = "I quit smoking"

murtaza = list(muzaffer)  # this is a multi element list
print(murtaza)

muharrem = [muzaffer]  # this is a single element list
print(muharrem)

muhyeddin = list(muharrem)
print(muhyeddin)

muammer = [muharrem]
print(muammer)

['I', ' ', 'q', 'u', 'i', 't', ' ', 's', 'm', 'o', 'k', 'i', 'n', 'g']
['I quit smoking']
['I quit smoking']
[['I quit smoking']]

In [22]:
mixed_list = [11, "Hakan", False, 3.14, None, [1, 2, 3]]
print(mixed_list)

[11, 'Hakan', False, 3.14, None, [1, 2, 3]]

In [23]:
my_list = ["josep", "Clarusway", 2020]
new_list1 = list(my_list)
print(new_list1)

['josep', 'Clarusway', 2020]

In [37]:
aslanlar = ["Joseph", "John", "David"]
print(list(aslanlar))
print(len(list(aslanlar)))

print([aslanlar])
print(len([aslanlar]))

['Joseph', 'John', 'David']
3
[['Joseph', 'John', 'David']]
1

In [40]:
a = ["2020's easy"]
b = list("2020's easy")
print(a)
print(b)

["2020's easy"]
['2', '0', '2', '0', "'", 's', ' ', 'e', 'a', 's', 'y']

# Basic Operations with Lists

In [43]:
# We can add an element into a list using .append() or .insert() methods

numbers = [1, 4, 7]
numbers.append(9)
numbers.append("9")
print(numbers)

[1, 4, 7, 9, '9']

In [49]:
empty_list = []
empty_list.append(6666)
empty_list.append("Multiverse")
empty_list.append([0])          
print(empty_list, "\n")

city = ["Newyork", "London", "Istanbul", "Seoul", "Sydney"]
city.append("Addis Ababa")
print(city,"\n")

numbers = [1, 4, 7]
numbers.insert(2,9)
print(numbers)
numbers.insert(2,6)
print(numbers,"\n")

city = ["Newyork", "London", "Istanbul", "Seoul", "Sydney", "Addis Ababa"]
city.insert(2,"Stockholm")
print(city)

[6666, 'Multiverse', [0]]

['Newyork', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

[1, 4, 9, 7]
[1, 4, 6, 9, 7]

['Newyork', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [50]:
city = ['Newyork', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.remove("London")
print(city)  # we have deleted "london"

['Newyork', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [54]:
numbers = [4, 1, 9, 7]
numbers.sort()
print(numbers,"\n")

city = ['Newyork', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.sort()
print(city)  # lists the items in alphabetical order

[1, 4, 7, 9]

['Addis Ababa', 'Istanbul', 'Newyork', 'Seoul', 'Stockholm', 'Sydney']

In [55]:
mix_list = ["d", 1, "a", 7]
mix_list.sort()
print(mix_list)  # The items to be sorted in the list should be the same type

TypeError: '<' not supported between instances of 'int' and 'str'

In [71]:
list_1 = ["one", "four", "nine"]
list_1.sort()
print(len(list_1))
print(list_1,"\n")

list_2 = [True, False]
list_2.sort()
print(list_2,"\n")

list_3 = [[3], [44], [-12]]
print(list_3,"\n")

list_4 = [[44, 3], [-1, 0, 9], [-12, 1, 0, 0]]
list_4.sort()
print(list_4)

3
['four', 'nine', 'one']

[False, True]

[[3], [44], [-12]]

[[-12, 1, 0, 0], [-1, 0, 9], [44, 3]]

In [72]:
list_2 = ["*-", "4", "False", 0]
print(len(list_2))

4

# ▶ Indexing a List ▶ Slicing a List ▶ Negative Indexing & Slicing

In [76]:
# list_name = [Index no]

word = ["h", "a", "p", "p", "y"]
print(word[1])

colors = ["red", "purple", "blue", "orange", "pink"]
print(colors[1])

a
purple

In [77]:
city = ['Newyork', 'Seoul', 'Stockholm', 'Sydney']

city_list = []
city_list.append(city)  # we have created a nested list

print(city_list)

[['Newyork', 'Seoul', 'Stockholm', 'Sydney']]

In [78]:
city_list = [['Newyork', 'Seoul', 'Stockholm', 'Sydney']]
print(city_list[0])  # access to first and only element

['Newyork', 'Seoul', 'Stockholm', 'Sydney']

In [79]:
city_list = [['Newyork', 'Seoul', 'Stockholm', 'Sydney']]
print(city_list[0][2])  # The output of the syntax city_list[0] is a list type. So we can still access its elements.

Stockholm

In [80]:
city_list = [['Newyork', 'Seoul', 'Stockholm', 'Sydney']]
print(city_list[0][2][3])  # The output of the syntax city_list[0][2] is a str type. So we can still accelss its elements.

c

In [81]:
# Slicing a List >>>>>   list_name = [start:stop:step] >>>> from "start" to "stop-1", by "step"

even_numbers = [2, 4, 6, 8, 10, 12, 14]
print(even_numbers[2:5])

[6, 8, 10]

In [85]:
# range(start, stop, step) function returns an object thet produces a sequence of integers from start to stop by step

# Create a list of numbers from 1to 10 using range () fnction and select odd ones by slicingmeth and then print the result. 

odd_numbs = list(range(11))

print(odd_numbs)
print(odd_numbs[1:11:2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [88]:
animals = ["eşek", "it", "dana", "öküz", "koyun", "keçi"]
print(animals[2:], "\n")

print(animals[:5], "\n")

print(animals[::2])

['dana', 'öküz', 'koyun', 'keçi']

['eşek', 'it', 'dana', 'öküz', 'koyun']

['eşek', 'dana', 'koyun']

In [90]:
mix_list = [1, [1, "one", 2, "two", 3, "three"], 4]  # bu satırdaki string rakamları tek komutla çıkar bakalım hacı
print(mix_list[1][1::2])

['one', 'two', 'three']

In [99]:
city = ["Newyork", "London", "Istanbul", "Seoul", "Sydney", "Addis Ababa"]
print(city[-5],"\n")

print(city[-3:],"\n")

print(city[:-2],"\n")

print(city[::-1], "\n")

print(city[::-2],"\n")

print(city[::-3])

London

['Seoul', 'Sydney', 'Addis Ababa']

['Newyork', 'London', 'Istanbul', 'Seoul']

['Addis Ababa', 'Sydney', 'Seoul', 'Istanbul', 'London', 'Newyork']

['Addis Ababa', 'Seoul', 'London']

['Addis Ababa', 'Istanbul']

In [102]:
odd_no = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(odd_no[7:3:-1])
print(odd_no[2:6:-1])  # no way to reach. So the output is an empty list

[8, 7, 6, 5]
[]